<div class="clear" style="margin-bottom:8px;">
    <div class="clear" style="margin-bottom:8px;"></div>
    <div class="ltop"></div><div class="ltext">

    <div style="width:300px;margin:0 auto;"><a href="#" target="_blank"><img src="http://static.googleadsserving.cn/pagead/imgad?id=CMew_c7GtfqbigEQrAIY7wEyCAlAvQq7VjCM" alt="aaa" /></a></div>

    </div><div class="lbot"></div>
    <div class="clear" style="margin-bottom:8px;">	</div>
    </div>