<div class="ltext">
<div>
<!--recommend news with pic-->
<ul class="newst1">
  <%ars = get_wen_zhang_dian_ji_pai_hang(10)%>
  <%if ars.type==Array%>
    <%for ar in ars%>
    <li style="height:26px;">
      <a href="<%=ar.url%>" target="_blank" class="grey"><%=ar.title%></a>
    </li>
    <%end%>
  <%else%>
    <li style="height:26px;color:#808080">
      暂无数据
    </li>
  <%end%>
</ul>
</div>
</div>